@using SimpleChatWASM.Shared.Entities

@if(model != null)
{
    <div class=@($"{(IsMe() ? "mycomment" : "says")}")>
        <p class="user-name">@($"{model.User.UserName}:{@model.GetDate()}")</p>
        <p class="contents">@model.Contents</p>
    </div>
}

@code {

    [Parameter]
    public MessageEntity model{ get; set; }

    [CascadingParameter(Name = "account_info")]
    public UserEntity AccountInfo { get; set; }

    /// <summary>
    /// 発言者が自分だったらTrue
    /// </summary>
    /// <returns></returns>
    private bool IsMe()
    {
        var result = false;
        if(string.IsNullOrEmpty(model?.User.UserID) == false
           && AccountInfo?.UserID == model?.User.UserID)
        {
            result = true;
        }
        return result;
    }
}
