@using SimpleChatWASM.Client.Components.ChatRoomNav
@using SimpleChatWASM.Client.Models.APIAgents
@using SimpleChatWASM.Shared.Entities
@inherits LayoutComponentBase

@inject HttpClient httpClient

<div class="page">
    <CascadingValue TValue="UserEntity" Value="@AccountInfo" Name="account_info">
        <CascadingValue TValue="List<UserEntity>" Value="@AllUsers" Name="all_users">
            <div>@msg</div>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </CascadingValue>
    </CascadingValue>
</div>
@code{
    public UserEntity AccountInfo { get; set; } = new UserEntity();
    public List<UserEntity> AllUsers { get; set; } = new List<UserEntity>();
    public string msg{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await UserControllerAgent.GetUserById(httpClient,"tsuruda");
            if (string.IsNullOrEmpty(user?.UserID) == false)
            {
                AccountInfo = user;
            }
            AllUsers = await UserControllerAgent.GetAllUsers(httpClient);
        }
        catch (Exception ex)
        {
            msg = ex.Message;
        }
    }
}
