@page "/"
@using SimpleChatWASM.Client.Models.APIAgents
@using SimpleChatWASM.Shared.Entities

@inject HttpClient httpClient

<h3>@($"こんにちは、{AccountInfo.UserName}さん。")</h3>

@code{

    [CascadingParameter(Name ="account_info")]
    public UserEntity AccountInfo { get; set; }

    
}
